@charset "UTF-8";

body{
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header{
    width: 100%;
    height: 100px;
    background-color: #ff9800;
}

#header img{
    height: 90px;
}

#header li{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 5px;
}

#wrapper{
    height: 500px;
    justify-content: space-between;
}

#main{
    float: left;
    width: 70%;
}

aside{
    float: left;
    width: 30%;
    text-align: center;
}

#mainpicture.img{
    width: 100%;
}

#content{
    width: 100%;
    margin-top: 15px;
    padding-left: 3%;
}

#header p{
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: #e56b00;
}

#header a{
    text-decoration: none;
    color: #ffffff;
}


#footer{
    height: 50px;
    background-color: #ff9800;
    display: flex;
    justify-content: center;
    align-items: center;
}
